header {
    display: flex;
}

.nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-nav-title {
    text-align: center;
    background-color: #085370;
    color: #fff;
    padding: 1rem 0;
}